<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ImportKeyword" value="WEB"/>
		<add key="DateFormat" value="dd-MM-yyyy"/>
		<add key ="Template" value="C:\Projects\VS\GenerateEventXML\Template\Template.json"/>
		<add key="Location1" value="ImPuls, Dorfstrasse, 3622 Homberg"/>
		<add key="Location2" value="Im Zaun, 3656 Sigriswil"/>
		<add key="Location3" value="Huckhaus 22, 3622 Homberg"/>
		<add key="Location4" value="Ried 504-502, 3673 Linden"/>
		<add key="Location5" value="MZH Homberg, Dorfstrasse 42, 3622 Homberg"/>
		<add key="Location6" value="Expohalle Thun"/>
		<add key="Location7" value="Chrösch, 3623 Horrenbach-Buchen"/>
		<add key="Location8" value="Winteregg, 3622 Homberg"/>
		<add key="EventCategories1" value="Gottesdienst"/>
		<add key="EventCategories2" value="Event"/>
	</appSettings>
</configuration>