<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="Template" value="C:\Projects\VS\GenerateEventXML\Template\Template.txt"/>
		<add key="Location1" value="ImPuls, Dorfstrasse, 3622 Homberg"/>
		<add key="Location2" value="Im Zaun, 3656 Sigriswil"/>
		<add key="Location3" value="Huckhaus 22, 3622 Homberg"/>
		<add key="EventCategories1" value="Gottesdienst"/>
		<add key="EventCategories2" value="Event"/>
	</appSettings>
</configuration>